
/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos do header */
.navbar {
  background-color: var(--navbar-background-color);
}

.navbar-brand h1 {
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.custom-link {
  color: var(--custom-link-color);
  font-weight: bold;
  text-decoration: none;
}

.custom-link:hover {
  color: var(--custom-link-hover-color);
}


.nav-item {
  margin-right: 10px;
}

.nav-link {
  color: var(--nav-link-color);
}


/* login*/

/* botões de login*/
.modal-title {
  text-align: center;
  color: black;
}


h1 {
  color: #333;
  margin-bottom: 20px;
}

h2 {
  color: #555;
  margin-top: 30px;
}

p,
ul {
  line-height: 1.5;
}

.buttons {
  margin-top: 30px;
}

.button {
  background-color: #6c63ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; 
  
}

.button.secondary {
  background-color: #6c63ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; 
}

.button:hover {
  background-color: #5249d3;
  color:#ffffff;
  border-color: #000000;
  box-shadow: #000000;
  text-decoration: none;
}

/* login pop up */

.login-popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-content {
  background-color: #000000;
  max-width: 400px;
  margin: 10% auto;
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: #555;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* Card section (inicio) */
.card2 {
  background-color: #f4f4f4;
  color: #ffffff;
  width: 100%;
  margin: auto;
  padding: 5vw; /* Utiliza unidade relativa */
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 100%;
  max-width: 500px;
  height: auto; /* Adapta a altura automaticamente */
  object-fit: cover;
  margin-bottom: -10vh; /* Utiliza unidade relativa */
}

.card-title2 {
  font-size: 2.5vw; /* Utiliza unidade relativa */
  font-weight: bold;
  color: #000000;
  text-align: center;
  margin: 10px; /* Utiliza unidade relativa */
  margin-bottom: 70px;
  color: #6200ff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.card-subtitle2 {
  font-size: 1vw; /* Utiliza unidade relativa */
  color: #000000;
  text-align: center;
  margin: 10px; /* Utiliza unidade relativa */
  font-family: 'Arial Black', sans-serif;
  margin-bottom: 200px;
}

/* Adicione uma media query para dispositivos menores */
@media screen and (max-width: 768px) {
  .card2 {
    padding: 10vw; /* Tamanho de padding maior em dispositivos menores */
  }

  .card-title2 {
    font-size: 5vw; /* Tamanho de fonte maior em dispositivos menores */
  }

  .card-subtitle2 {
    font-size: 2vw; /* Tamanho de fonte maior em dispositivos menores */
  }
}



/* Card da chama para ação*/

#chamada-acao h2 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;

}

#chamada-acao p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: #000000;
}



.card.acao {
  font-family: 'Roboto', sans-serif;
  background-color: #5919cf;
  color: #000000;
  width: 95%;
  max-width: 1200px;
  height: auto;
  margin: 20px auto 40px; /* Ajustando a margem superior para 20px */
  padding: 30px;
  border: 1px solid #8243f8;
  border-radius: 30px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.719); /* Cor correspondente à borda para a sombra */
  margin-top: -200px;
}

.sub-card {
  background-color: #fdfdfd; /* Um cinza claro para um pouco de contraste */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 4px solid #2600ff;;
  display: flex;
  align-items: center;
  box-shadow: 0px px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
}

.sub-card:last-child {
  margin-bottom: 0;
}

.sub-card.promo-horizontal {
  width: 100%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.card-img {
  width: 450px; 
  height: 350px; 
  object-fit: cover;
  margin-right: 20px;
  border-radius: 5px;
}


.card-content {
  flex-grow: 1;
}

#cronometro {
  font-size: 50px;
  color: #FF5722; 
  margin-top: 20px;
}


/*Marketing dos cursos- Promo*/
.promo-section {
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 20px;
}

.promo-container {
  max-width: 1200px;
  margin: 0 auto;
}

.promo-card {
  background-color: #000000;
  color: #ffffff;
  margin-top: 40px;
  border: 4px solid #000000;
  padding: 40px;
  border-radius: 30px;
  text-align: center;
}

.promo-card-title {
  font-family: 'Archivo Black', sans-serif;
  font-size: 3.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
}

.promo-sub-card {
  display: flex;
  align-items: center;
  margin-top: 40px;
  border: 3px solid #2600ff;
  padding: 60px;
  border-radius: 20px;
  box-sizing: border-box;
}
/* ... outros estilos ... */

.promo-card-subtitle.purple {
  color: #8243f8;
}
.texto-especial-text {
  color: #ffffff;
}

.promo-card-subtitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.6em;
  margin-bottom: 10px;
  font-weight: bold;
}

.promo-card-subtitle.special {
  color: #8243f8;
}

.promo-card-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}


.promo-card-button {
  background-color: #6c63ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none; 
}

.promo-card-button:hover {
  background-color: #5249d3;
  text-decoration: none; /*<------ isso aqui é pra remover o sublinhado de link*/  
}

.promo-card-button:visited {
  color: #ffffff; 
  text-decoration: none;
}

.promo-card-left-image {
  width: 280px;
  height: 280px;
  border-radius: 10%;
  margin-right: 40px;
}

.promo-card-right-image {
  width: 280px;
  height: 280px;
  border-radius: 10%;
  margin-left: 40px;
}

.promo-card-content {
  text-align: left;
}

.promo-card-subtitle {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #6c63ff;
  font-weight: bold;
}

.promo-card-description {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6em;
  color: #ffffff;
}




/*Marketing dos cursos- marketing*/


.marketing-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketing-card {
  width: 450px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  padding: 30px;
  text-align: left;
  border-radius: 30px;
  border: 3px solid #2600ff;
}

.marketing-card-title {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  color: #6c63ff;
  margin-bottom: 20px;
  text-align: center;
}

.marketing-card-description {
  font-size: 1.8em;
  color: #000000;
  margin-bottom: 10px;
}

.marketing-card-price,
.marketing-card-duration {
  font-size: 1.2em;
  color: #6c63ff;
  margin-bottom: 10px;
}

.marketing-card-highlight {
  font-size: 1.2em;
  color: #000000;
  margin-bottom: 20px;
}

.marketing-card-button {
  background-color: #6c63ff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
}


.marketing-card-button:hover {
  background-color: #5249d3;
}




/*ESTILOS PARA VANTAGENS*/
.advantages-section {
  background-color: #f2f2f2;
  padding: 80px 0;
}

.advantages-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.advantages-title {
  font-size: 2.5em;
  margin-bottom: 60px;
}

.advantages-card {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
  margin-bottom: -200px ;
}

.advantage-item {
  flex-basis: 23%;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgb(0, 0, 0);
  text-align: center;
  border: 4px solid #2600ff;
}

.advantage-item img {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.advantage-item-title {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.advantage-item-description {
  font-size: 1em;
  color: #777;
}




/* Estilos dos depoimentos */
#depoimentos {
  background-color: #f5f5f5;
  padding: 100px;
  text-align: center;
  }
  
  #depoimentos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  }
  
  
  
  
  .depoimento-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgb(0, 0, 0);
    padding: 10px;
    margin: 45px auto 10px;
    border: 4px solid #2600ff;
  }
  
  
  .depoimento-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
  }
  
  .depoimento-card p {
  font-size: 18px;
  margin-bottom: 30px;
  
  }
  
  .depoimento-card img {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 10px;
    margin-bottom: 30px;
  }

#depoimentos {
  padding: 25%; /* Altere o valor do padding conforme necessário */
  margin-top: -200px; /*Pessoal, isso aqui vai ajudar vcs com o espaçamento entre os cards, caso mexam no cód */
}

.depoimento-card {
  width: 75%;
  height: 40%;
  margin-bottom: 20px;
}


/*RODAPÉ*/
footer {
  background-color: #79727228;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  color: #333333;

}

.rodape-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 20px; /* Adicionando margens horizontais */
}

footer h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555555;
  margin: 0 70px; /* Adicionando margens horizontais */
  max-width: calc(100% - 90px); /* Limitando a largura total com base nas margens */
  box-sizing: border-box; /* Incluindo as margens na largura total */
}

footer p, footer a {
  margin: 5px 0;
  margin: 0 70px; /* Adicionando margens horizontais */
  max-width: calc(100% - 90px); /* Limitando a largura total com base nas margens */
  box-sizing: border-box; /* Incluindo as margens na largura total */
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
}

footer ul li {
  margin-bottom: 5px;
}

footer input, footer textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

footer button {
  background-color: #ffd200;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer button:hover {
  background-color: #e6b800;
}

/*Icones de redes sociais*/
.redes-sociais ul li a {
  display: flex;
  align-items: center;
  justify-content: center; 
  color: #888888; 
  text-decoration: none;
}

.redes-sociais ul li a i {
  font-size: 24px;
  margin-right: 10px;
}

.redes-sociais ul li a:hover {
  color: #FF5722;
}


.redes-sociais ul li a .fab.fa-facebook-f {
  color: #888888;
}

.redes-sociais ul li a .fab.fa-instagram {
  color: #888888;
}

.redes-sociais ul li a .fab.fa-youtube {
  color: #888888;
}


/* botão para o chat*/

.chatBtn {
  width: 70px; /* Aumenta o tamanho do botão */
  height: 70px; /* Aumenta o tamanho do botão */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  background-color: #6c63ff;
  background-image: linear-gradient(147deg, #6c63ff, #9400D3, #BA55D3);
  cursor: pointer;
  padding-top: 3px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.164);
  position: fixed; /* Posição fixa */
  bottom: 20px; /* Afastado do canto inferior */
  right: 20px; /* Afastado do canto direito */
  background-size: 300%;
  background-position: left;
  transition-duration: 1s;
}

.tooltip {
  position: absolute;
  top: -40px;
  opacity: 0;
  background-color: #2600ff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  pointer-events: none;
  letter-spacing: 0.5px;
}

.chatBtn:hover .tooltip {
  opacity: 1;
  transition-duration: 0.5s;
}

.chatBtn:hover {
  background-position: right;
  transition-duration: 1s;
}
