body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    max-width: 11200px;
    display: flex;
    width: 1500px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}


.cta-section {
    flex: 1;
    background-color: #6c63ff;
    color: #fff;
    padding: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.cta-section p {
    font-size: 18px;
}

.payment-form {
    flex: 1;
    padding: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #5249d3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

/* Modo Claro */
body.light {
    background-color: #f2f2f2;
    color: #000;
}

.payment-form.light {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #ccc;
}

/* Modo Escuro */
body.dark {
    background-color: #222;
    color: #000000;
}



.payment-form.dark {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid #ddd;
}

/* Estilos adicionais */
.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}


/* Estilos de login */
.card_r {
    width: 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-color: #5249d3;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  }
  
  .card_r .slider {
    width: 200%;
    position: relative;
    transition: transform ease-out 0.3s;
    display: flex;
  }
  
  #register_toggle {
    display: none;
  }
  
  .container #register_toggle:checked + .slider {
    transform: translateX(-50%);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1.5em 3em;
    width: 50%;
  }
  
  .title {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
  }
  
  form .form_control {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  form .form_control .label {
    position: absolute;
    top: 50%;
    left: 10px;
    transition: transform ease 0.2s;
    transform: translate(0%, -50%);
    font-size: 0.75em;
    user-select: none;
    pointer-events: none;
    color: #b0b0b0;
  }
  
  form .form_control .input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-radius: 5px;
    transition: box-shadow ease 0.2s;
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
  }
  
  form .form_control .input:focus,
  form .form_control .input:valid {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
  }
  
  form .form_control .input:focus + .label,
  form .form_control .input:valid + .label {
    transform: translate(-150%, -50%);
  }
  
  form button {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0.5rem;
    font-size: 0.75rem;
    border-radius: 5px;
    transition: box-shadow ease 0.1s;
    box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
  }
  
  form button:active {
    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
  }
  
  .bottom_text {
    font-size: 0.65em;
  }
  
  .bottom_text .swtich {
    font-weight: 700;
    cursor: pointer;
  }